@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Clash Grotesk", sans-serif;
 
}
.shopping-card{
  border: 1px solid rgb(209, 208, 208);
  border-radius: 10px;
  background: #fff;
}
.shopping-card:hover .cart-btn {
  background: black;
}
.b-friday {
  font-family: 'Montserrat', sans-serif;
}